# Dependencies
node_modules/
wasm/

# Build output
dist/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
package-lock.json

# Test files
examples/test_nft_transfers.csv
krc20Transfer.ts
finallists/
run_airdrop_lvl1.sh
run_airdrop_lvl2.sh
run_airdrop_lvl3.sh
run_airdrop_lvl4.sh
run_mainnet_test.sh

# OS files
.DS_Store
Thumbs.db 
operation.rs
.env.testnet
